<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 20px;
        }
        form {
            display: inline;
        }
        li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Weather App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/admin" class="nav-link">Admin page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weather">Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exchange-pg">Exchange</a>
                </li>
                <li class="nav-item">
                    <a href="/chuckNorrisJokes" class="nav-link">Random Chuck Norris Joke</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>User Management</h1>
        <ul class="list-group">
            <% users.forEach(user => { %>
                <li class="list-group-item">
                    <%= user.username %>
                    <form class="d-inline" action="/admin/update/<%= user._id %>" method="POST">
                        <input type="text" class="form-control" name="username" placeholder="New username">
                        <input type="password" class="form-control" name="password" placeholder="New password">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </form>
                    <form class="d-inline" action="/admin/delete/<%= user._id %>" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>

        <h2>Add New User</h2>
        <form action="/admin/add" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success">Add User</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
