<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="styles/groups.css">
    <style>
        body {
            background-color: #333;
            color: white;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: sticky;
            top: 0;
            left: 0;
            background-color: black;
            opacity: 0.8;
            padding: 0 20px;
        }
        nav h1{
            max-width: 1600px;
            padding: 20px 100px;
            margin-right: auto;
            margin-left: auto;
            color: white;
            font-size: 44px;
            font-weight: 600;
        }

        .main {
            background-color: #222;
            color: white;
            padding: 20px;
            border-radius: 10px;
            margin: 20px auto;
            max-width: 800px;
        }

        .main-content {
            margin-bottom: 20px;
        }

        .header-info h3 {
            color: white;
        }

        .members-container ul {
            list-style: none;
            padding: 0;
        }

        .members-container ul li {
            margin-bottom: 5px;
        }

        .location_list {
            margin-top: 10px;
            color: white;
        }

        .favorite-btn {
            background-color: black;
            color: white;
            border: 1px solid white;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .logout-btn {
            color: white;
            text-decoration: none;
            font-size: 20px;
            padding: 10px 20px;
            border: 2px solid white;
            border-radius: 5px;
            margin-right: 20px;
            transition: background-color 0.3s ease;
        }

        .logout-btn:hover {
            background-color: #444;
        }

        select {
            padding: 8px;
            border: 1px solid #ffffff;
            background-color: #000000;
            color: #ffffff;
            border-radius: 5px;
            font-size: 16px;
        }

        select:hover {
            background-color: #333333; 
        }
    </style>
</head>
<body>
    <nav>
        <h1><a href="/groupie-tracker">Groupie-Tracker</a></h1>
        <form action="/switch-language" method="POST">
            <button type="submit" name="language" value="en">English</button>
            <button type="submit" name="language" value="ru">Русский</button>
        </form>       
        <a href="/findartist" class="logout-btn">Фото артиста API</a> 
        <a href="/groupie-tracker/favorites" class="logout-btn">Избранное</a>
        <a href="/groupie-tracker/users" class="logout-btn">Пользователи</a>
        <a href="/logout" class="logout-btn">Выйти</a>
    </nav>
    <div class="main">
        <div class="main-content">
            <h1>Избранное</h1>
            <h2>Пользователь: <%= user.username %></h2>
            <h2>Избранные группы:</h2>
            <ul>
                <% user.favoriteGroups.forEach(group => { %>
                    <li><%= group.names.ru %></li> 
                <% }); %>
            </ul>
            <h2>Избранные артисты:</h2>
            <ul>
                <% user.favoriteArtists.forEach(artist => { %>
                    <li><%= artist %></li> 
                <% }); %>
            </ul>
        </div>
    </div>
</body>
</html>
