<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuck Norris Jokes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Weather App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/admin" class="nav-link">Admin page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weather">Weather</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exchange-pg">Exchange</a>
                </li>
                <li class="nav-item">
                    <a href="/chuckNorrisJokes" class="nav-link">Random Chuck Norris Joke</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="mb-4">Get Rundom Chuck Norris Jokes</h1>
        <form id="jokeForm" class="mt-5">
            <div id="jokeContainer">
                <% if (joke) { %>
                    <p><%= joke %></p>
                <% } else { %>
                    <p>No joke available</p>
                <% } %>
            </div>
            <button type="submit" class="btn btn-primary">Get Random Joke</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        const jokeForm = document.getElementById('jokeForm');

        jokeForm.addEventListener('submit', async (event) => {
            event.preventDefault();

            const url = `/getChuckNorrisJoke`;

            window.location.href = url;
        });
    </script>
</body>
</html>
